<ul class="nav nav-pills nav-stacked doc-outline">
  <li role="presentation" class="doc-header"><strong>Preface</strong></li>
  <li role="presentation"><a href="/docs/preface/introduction"{% if page.permalink == "/docs/preface/introduction" %}class="active"{% endif %}>Introduction</a></li>
  <li role="presentation"><a href="/docs/preface/frequently-asked-questions"{% if page.permalink == "/docs/preface/frequently-asked-questions" %}class="active"{% endif %}>FAQs</a></li>
</ul>

<ul class="nav nav-pills nav-stacked doc-outline">
  <li role="presentation" class="doc-header"><strong>Getting Started</strong></li>
  <li role="presentation"><a href="/docs/getting-started/installation"{% if page.permalink == "/docs/getting-started/installation" %}class="active"{% endif %}>Installation</a></li>
  <li role="presentation"><a href="/docs/getting-started/basic-usage"{% if page.permalink == "/docs/getting-started/basic-usage" %}class="active"{% endif %}>Basic usage</a></li>
</ul>

<ul class="nav nav-pills nav-stacked doc-outline">
  <li role="presentation" class="doc-header"><strong>Content Pipeline</strong></li>
  <li role="presentation"><a href="/docs/content-pipeline/overview"{% if page.permalink == "/docs/content-pipeline/overview" %}class="active"{% endif %}>Overview</a></li>
  <li role="presentation"><a href="/docs/content-pipeline/import-bitmap-font"{% if page.permalink == "/docs/content-pipeline/import-bitmap-font" %}class="active"{% endif %}>Import bitmap font</a></li>
  <li role="presentation"><a href="/docs/content-pipeline/import-texture"{% if page.permalink == "/docs/content-pipeline/import-texture" %}class="active"{% endif %}>Import texture</a></li>
  <li role="presentation"><a href="/docs/content-pipeline/import-texture-atlas"{% if page.permalink == "/docs/content-pipeline/import-texture-atlas" %}class="active"{% endif %}>Import texture atlas</a></li>
  <li role="presentation"><a href="/docs/content-pipeline/import-audio"{% if page.permalink == "/docs/content-pipeline/import-audio" %}class="active"{% endif %}>Import audio</a></li>
  <li role="presentation"><a href="/docs/content-pipeline/import-meshes"{% if page.permalink == "/docs/content-pipeline/import-meshes" %}class="active"{% endif %}>Import meshes</a></li>
  <li role="presentation"><a href="/docs/content-pipeline/import-effect"{% if page.permalink == "/docs/content-pipeline/import-effect" %}class="active"{% endif %}>Import effect</a></li>
  <li role="presentation"><a href="/docs/content-pipeline/building"{% if page.permalink == "/docs/content-pipeline/building" %}class="active"{% endif %}>Building</a></li>
  <li role="presentation"><a href="/docs/content-pipeline/linking"{% if page.permalink == "linking" %}class="active"{% endif %}>Linking</a></li>
</ul>

<ul class="nav nav-pills nav-stacked doc-outline">
  <li role="presentation" class="doc-header"><strong>Core</strong></li>
  <li role="presentation"><a href="/docs/core/overview"{% if page.permalink == "/docs/core/overview" %}class="active"{% endif %}>Overview</a></li>
  <li role="presentation"><a href="/docs/core/platform-specifics"{% if page.permalink == "/docs/core/platform-specifics" %}class="active"{% endif %}>Platform specifics</a></li>
  <li role="presentation"><a href="/docs/core/math"{% if page.permalink == "/docs/core/math" %}class="active"{% endif %}>Math</a></li>
  <li role="presentation"><a href="/docs/core/bounding-and-intersections"{% if page.permalink == "/docs/core/bounding-and-intersections" %}class="active"{% endif %}>Bounding and intersections</a></li>
</ul>

<ul class="nav nav-pills nav-stacked doc-outline">
  <li role="presentation" class="doc-header"><strong>Game</strong></li>
  <li role="presentation"><a href="/docs/game/overview"{% if page.permalink == "/docs/game/overview" %}class="active"{% endif %}>Overview</a></li>
  <li role="presentation"><a href="/docs/game/display"{% if page.permalink == "/docs/game/display" %}class="active"{% endif %}>Display</a></li>
  <li role="presentation"><a href="/docs/game/control-the-framerate"{% if page.permalink == "/docs/game/control-the-framerate" %}class="active"{% endif %}>Control the framerate</a></li>
</ul>

<ul class="nav nav-pills nav-stacked doc-outline">
  <li role="presentation" class="doc-header"><strong>Graphics</strong></li>
  <li role="presentation"><a href="/docs/graphics/overview"{% if page.permalink == "/docs/graphics/overview" %}class="active"{% endif %}>Overview</a></li>
  <li role="presentation"><a href="/docs/graphics/sprite-font"{% if page.permalink == "/docs/graphics/sprite-font" %}class="active"{% endif %}>Sprite font</a></li>
  <li role="presentation"><a href="/docs/graphics/texture-2d"{% if page.permalink == "/docs/graphics/texture-2d" %}class="active"{% endif %}>Texture 2D</a></li>
  <li role="presentation"><a href="/docs/graphics/sprite"{% if page.permalink == "/docs/graphics/sprite" %}class="active"{% endif %}>Sprite</a></li>
  <li role="presentation"><a href="/docs/graphics/model"{% if page.permalink == "/docs/graphics/model" %}class="active"{% endif %}>Model</a></li>
  <li role="presentation"><a href="/docs/graphics/skinned-model"{% if page.permalink == "/docs/graphics/skinned-model" %}class="active"{% endif %}>Skinned model</a></li>
  <li role="presentation"><a href="/docs/graphics/render-to-texture-2d"{% if page.permalink == "/docs/graphics/render-to-texture-2d" %}class="active"{% endif %}>Render to texture 2D</a></li>
  <li role="presentation"><a href="/docs/graphics/render-to-texture-cube"{% if page.permalink == "/docs/graphics/render-to-texture-cube" %}class="active"{% endif %}>Render to texture cube</a></li>
  <li role="presentation"><a href="/docs/graphics/effect"{% if page.permalink == "/docs/graphics/effect" %}class="active"{% endif %}>Effect</a></li>
  <li role="presentation"><a href="/docs/graphics/material"{% if page.permalink == "/docs/graphics/material" %}class="active"{% endif %}>Material</a></li>
</ul>

<ul class="nav nav-pills nav-stacked doc-outline">
  <li role="presentation" class="doc-header"><strong>Input</strong></li>
  <li role="presentation"><a href="/docs/input/overview"{% if page.permalink == "/docs/input/overview" %}class="active"{% endif %}>Overview</a></li>
  <li role="presentation"><a href="/docs/input/mouse"{% if page.permalink == "/docs/input/mouse" %}class="active"{% endif %}>Mouse</a></li>
  <li role="presentation"><a href="/docs/input/keyboard"{% if page.permalink == "/docs/input/keyboard" %}class="active"{% endif %}>Keyboard</a></li>
  <li role="presentation"><a href="/docs/input/touch-panel"{% if page.permalink == "/docs/input/touch-panel" %}class="active"{% endif %}>TouchPanel</a></li>
  <li role="presentation"><a href="/docs/input/gestures"{% if page.permalink == "/docs/input/gestures" %}class="active"{% endif %}>Gestures</a></li>
  <li role="presentation"><a href="/docs/input/gamepad"{% if page.permalink == "/docs/input/gamepad" %}class="active"{% endif %}>GamePad</a></li>
  <li role="presentation"><a href="/docs/input/accelerometer"{% if page.permalink == "/docs/input/accelerometer" %}class="active"{% endif %}>Accelerometer</a></li>
  <li role="presentation"><a href="/docs/input/magnetometer"{% if page.permalink == "/docs/input/magnetometer" %}class="active"{% endif %}>Magnetometer</a></li>
  <li role="presentation"><a href="/docs/input/gyrometer"{% if page.permalink == "/docs/input/gyrometer" %}class="active"{% endif %}>Gyrometer</a></li>
</ul>

<ul class="nav nav-pills nav-stacked doc-outline">
  <li role="presentation" class="doc-header"><strong>Audio</strong></li>
  <li role="presentation"><a href="/docs/audio/overview"{% if page.permalink == "/docs/audio/overview" %}class="active"{% endif %}>Overview</a></li>
  <li role="presentation"><a href="/docs/audio/sound-effect"{% if page.permalink == "/docs/audio/sound-effect" %}class="active"{% endif %}>Sound effect</a></li>
  <li role="presentation"><a href="/docs/audio/fire-and-forget-sound-effect"{% if page.permalink == "/docs/audio/fire-and-forget-sound-effect" %}class="active"{% endif %}>Fire and forget sound effect</a></li>
  <li role="presentation"><a href="/docs/audio/3d-sound-effect"{% if page.permalink == "/docs/audio/3d-sound-effect" %}class="active"{% endif %}>3D sound effect</a></li>
</ul>

<ul class="nav nav-pills nav-stacked doc-outline">
  <li role="presentation" class="doc-header"><strong>Media</strong></li>
  <li role="presentation"><a href="/docs/media/overview"{% if page.permalink == "/docs/media/overview" %}class="active"{% endif %}>Overview</a></li>
  <li role="presentation"><a href="/docs/media/song"{% if page.permalink == "/docs/media/song" %}class="active"{% endif %}>Song</a></li>
</ul>

<ul class="nav nav-pills nav-stacked doc-outline">
  <li role="presentation" class="doc-header"><strong>Animations</strong></li>
  <li role="presentation"><a href="/docs/animations/overview"{% if page.permalink == "/docs/animations/overview" %}class="active"{% endif %}>Overview</a></li>
  <li role="presentation"><a href="/docs/animations/tweening"{% if page.permalink == "/docs/animations/tweening" %}class="active"{% endif %}>Tweening</a></li>
  <li role="presentation"><a href="/docs/animations/curves-and-animation"{% if page.permalink == "/docs/animations/curves-and-animation" %}class="active"{% endif %}>Curves and Animation</a></li>
</ul>

<ul class="nav nav-pills nav-stacked doc-outline">
  <li role="presentation" class="doc-header"><strong>Data Driven</strong></li>
  <li role="presentation"><a href="/docs/data-driven/overview"{% if page.permalink == "/docs/data-driven/overview" %}class="active"{% endif %}>Overview</a></li>
  <li role="presentation"><a href="/docs/data-driven/io-operations"{% if page.permalink == "/docs/data-driven/io-operations" %}class="active"{% endif %}>IO operations</a></li>
  <li role="presentation"><a href="/docs/data-driven/serialization"{% if page.permalink == "/docs/data-driven/serialization" %}class="active"{% endif %}>Serialization</a></li>
</ul>

<ul class="nav nav-pills nav-stacked doc-outline">
  <li role="presentation" class="doc-header"><strong>Credits</strong></li>
  <li role="presentation"><a href="/docs/credits/3rd-party"{% if page.permalink == "/docs/credits/3rd-party" %}class="active"{% endif %}>3rd Party</a></li>
  <li role="presentation"><a href="/docs/credits/resources"{% if page.permalink == "/docs/credits/resources" %}class="active"{% endif %}>Resources</a></li>
</ul>