<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="Brand" width="24" height="24" src="{{ "images/logo-color.png" | relative_url }}">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/docs/preface/introduction">Docs</a>
        </li>
        <li>
          <a href="https://github.com/impression3d/Impression.Examples" target="_blank">Examples</a>
        </li>
        <li><a href="/blog">Blog</a></li>
        <li class="btn-donation">
          <a role="button" data-toggle="modal" data-target=".donation-modal">Donation</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>