<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Impression . {{ page.title }}</title>

  <!--Favicon-->
	<link rel="shortcut icon" href="{{ "/favicon.png" | prepend: site.baseurl }}" type="image/png">

  <link href="{{ "/stylesheets/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="{{ "/stylesheets/syntax.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/stylesheets/theme.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
</head>